.container-info {
    min-height: 100vh;

    .info {
        margin: 20px;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #F3F2EF;
        border-radius: 10px;


       .img-info {
        height: 160px;
        border-radius: 10px;
       }
    
       .informacion1 {
        text-decoration: none;
        color: #fafafa;
        background-color: #000000;
        border-radius: 10px;
        text-transform: uppercase;
        height: 80px;
        width: 120px;
        
       }

       .link-info {
           text-decoration: none;
           color: #fafafa;
       }
    }   
}

.informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #F0E6C7;
    min-height: 300px;
    border-radius: 10px;

    .spann-info {
        margin-left: 20px;
        font-weight: bold;
    }
}